/*VARIAVEIS*/
:root{
    --primary-color: #0a1128;
    --white: #ffffff;
    --gray: #eeeeee;
    --secundary-color: #dc143c;
    --gap: 3rem;
}

/*ELEMENTOS*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/*  font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
*/

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: var(--primary-color);
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 6rem;
    text-transform: uppercase;
}

h2{
    font-size: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
}

p{
    margin-bottom: 3rem;
}

.resposive-table{
    width: 100%;
    overflow:hidden;
    overflow-x: scroll;

}

table{
    min-width: 3.6rem;
    width: 100%;
    border-collapse: collapse;
}

table caption{
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}
table td, table th{
    white-space:nowrap;
    padding: 0.5rem;
    text-align: left;
    border: 0.1rem solid var(--gray);
    
}

tfoot td, table th{
    background-color: var(--gray);
}

/*CLASSES REUTILIZAVEIS*/

.main-bg{
    background-image: url(../img/main-bd.svg);
    background-size: cover;
    background-position: center center;
    color:var(--white);
}
.white-bg{
    background:var(--white);
    color: var(--primary-color);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.section{
    min-height: 100vh;
}

.menu-spacing{
    height: 8rem;
}

/*MENU*/

.menu{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom:0.1rem solid var(--gray);
}
.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
a{
    text-decoration: none;
}
.menu h1{
    font-size: 2.3rem;
    color: var(--primary-color);
}
.menu h1 a{
    color: inherit;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu ul li a{
    display:block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}
.menu ul li a::after{
    content: '';
    position:absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--secundary-color);
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after{
    width:50%;
    left: 25%;
}

/*SECTION INTRO*/

.intro-content{
    position: relative;
    top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap:var(--gap);
    min-height: 100vh;
}

.intro-text, .intro-img{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.intro-img img{
    max-width: 100%;
    height: auto;
}

.top3{
    position: relative;
    top: 4rem;
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;

}

.grid-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;

}
.grid-title{
    margin-bottom: 1rem;
}
.descricao{
    padding-bottom: 5rem;
}

.grid-center{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-contador;
}
.grid-center h3{
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}
.grid-center h3::before{
    counter-increment: grid-contador;
    content: counter(grid-contador);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top:-4rem;
    left: -2rem;
    transform: rotate(5deg);
}

.galeria-img{
    width:100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}
.galeria-img img{
    transition: all 300ms ease-in-out;
}
.galeria-img img:hover{
    transform: translate(-3%,3%) scale(1.2) rotate(5deg);
}

.forms{
    grid-column: span 2;
}

.form-grid legend{
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;

}

.forms .form-grid{
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:var(--gap);
}

.form-group{
    flex: 1 1 320px;
}
.form-group label{
    display: block;
    margin-bottom: 1rem;
}

.form-group input, .form-group textarea {
    border: none;
    background-color: var(--white);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
    outline: none;
}
.form-group input:focus, .form-group textarea:focus {
   box-shadow:  0 0 1rem 0.2rem var(--secundary-color);
}

body .full-width{
    width: 100%;
    flex: 1 1 100%;
}

.form-group button{
    border: 0.5rem solid var(--white);
    background: none;
    color: var(--white);
    padding: 1.5rem 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.form-group button:hover{
    background-color:var(--white) ;
    color: var(--primary-color);
}

.form-group::placeholder{
    color: var(--gray);
}

.footer{
    text-align: center;
    font-size: 1.6rem;
}
.footer a{
    color: var(--primary-color);
}
.footer p{
    margin: 0;
    padding: 3rem;
}

.close-menu{
  display: none;
}

.back-to-top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--white);
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);

}

@media (max-width: 800px){
    .intro-content, .grid-center{
        grid-template-columns: 1fr;
    }

    .galeria-img{
        width:100%;
        max-width: 100%;
        max-height: 100%;
    }
    .galeria-img img{
        width: 100%;
    }
    .grid-content{
        display: block;
    }

    .menu{
        text-align: center;
        bottom: 0;
    }
    .menu-content, .menu-content ul{
        flex-direction: column;
        justify-content: center;
    }
    .menu-content {
        height: 100vh;
    }

    .menu{
        display: none;
    }

    

    .close-menu-label::after{
        content: '≡';
        position: fixed;
        z-index: 2;
        top:2rem;
        right: 2rem;
        background-color: var(--primary-color);
        color: var(--white);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu{
        display: block;
    }
    .close-menu:checked~.close-menu-label::after{
        content: '×';
    }

    .menu-spacing{
        display: none;
    }
    
}